@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-ink-900 font-body antialiased;
}

h1, h2, h3, .font-display {
  font-family: 'Fraunces', serif;
}

::selection {
  background-color: #1F7A75;
  color: white;
}
